html {
    scroll-behavior: smooth;
}

label {
    font-weight: bold;
    margin-top: 20px;
}

.navbar{
    box-shadow: 0px 1px 5px rgb(200,200,200);
}

.main-bg {
    background: #ffa45b;
}

.secondary-bg {
    background: #fdeed6;
}

.grey{
    color: grey;
}

.px14{
    font-size: 14px;
}

.blue-bg {
    background: #aee6e6;
}

.blue-btn{
    background: #aee6e6;
    color: #000000;
    border: 3px none #aee6e6 ;
}

.outline-blue-btn{
    color: #000000;
    background: #ffffff;
    border-width: 3px;
    border-color: #aee6e6;
}

.black-text{
    color: #000 !important;
}

.secondary-text{
    font-style: italic;
    color: rgb(150,150,150);
}

.card-container{
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.class-card{
    margin: 10px;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
}

.testimonial-text {
    font-style: italic;
    color: #000000;
    max-width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.contact-item div{
    text-align: center;
    background: #fdeed6;
    height: 100%;
    border: 1px solid darkgray;
    padding: 15px;
    margin: auto;
}


/* Welcome text responsive */
#main-figure-2{display: none;}
#main-figure-1{display: block;}
#main-text{margin-top: 50px;}
#pb-200{padding-bottom: 80px;}
#main-img-1{margin-top: 30px;}

@media only screen and (min-width: 768px) {
    #main-figure-2{
        display: block;
    }
    #main-figure-1{
        display: none;
    }
    #main-img-1{margin-top: 90px;}
    #main-text{margin-top: 125px;}
    #pb-200{padding-bottom: 200px;}

}

@media only screen and (max-width: 425px){
    .contact-item{
        margin-top: 20px;
    }
    #text-sambutan{
        margin-left: -10px;
        text-align: center;
    }
    #tentang-kami-title{
        text-align: center;
    }
    #cta{
        text-align: center;
        margin-left: -14px;
    }
}