.logo-figure {
    position: absolute;
    width: 94.1px;
    height: 59.83px;
    left: 115px;
    top: 45px;
}

.logo-text {
    position: absolute;
    width: 173px;
    height: 49px;
    left: 231px;
    top: 51px;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #171717;
}

.main-header {
    font-size: 48px;
}

.secondary-header {
    font-size: 24px;
    color: #414141;
}